@use '../variables';

.button {
  padding: .8rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: variables.$colorParties1;
  border-radius: 6px;  
  text-align: center;

  &--primary {
    color: variables.$textColor;
    font-weight: 800;
    display: flex;
    align-items: center;
  }

  @media (max-width: 640px) {
    display: block;    
    width: 100%;      
  }
}