@use '../variables';

.infos-bar {
  padding: 1rem;
  background-color: variables.$textColor;
  border-radius: 6px;  
  margin: 0 auto;
  display: flex;
  justify-content: space-between;  
  text-align: center;

  &__infos {
    display: flex;
    gap: 2rem;

    &__item {
      font-size: .8rem;
      color: variables.$colorSecundary;
      
      b {
        color: variables.$colorSecundary;
        font-size: 1.4rem;
        display: block;
        align-items: center;
        padding-bottom: .5rem;
      }

    }
  }

  @media (max-width: 640px) {
    display: block;

    &__infos {
      display: block;

      &__item {
        margin-bottom: 1.6rem;
      }
    }
  }
}